* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-width: 80vw;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.calculator{
    display: flex;
    flex-direction: column;
}